# Don't Publish Me!

# Output
.esm-cache

# Config
.babelrc
.vscode
.cz-config.js
.eslintrc.js
.prettierrc
documentation.yml

# Tests
**/*.spec.js
__mocks__

# Documentation
docs
guides
CODE_OF_CONDUCT.md
CONTRIBUTING.md
