version: '3'
services:
  svg-base:
    build:
      context: .
      dockerfile: ./example-base/Dockerfile
    ports:
      - '3000:3000'
      - '5000:5000'
    volumes:
      - './src:/usr/src/app/node_modules/svg-symbol-sprite-loader/src'
      - './example-base/webpack.config.js:/usr/src/app/webpack.config.js'
    entrypoint: /bin/sh
  svg-complete:
    build:
      context: .
      dockerfile: ./example-complete/Dockerfile
    ports:
      - '3000:3000'
      - '5000:5000'
    volumes:
      - './src:/usr/src/app/node_modules/svg-symbol-sprite-loader/src'
      - './example-complete/webpack.config.js:/usr/src/app/webpack.config.js'
    entrypoint: /bin/sh
