{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": { "browsers": "chrome 71" },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ]
}
